<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/learn-driving/getlicense.css" />
	</head>

	<body>
		<div class='content'>
			<h3>恭喜你已经拿到驾照!</h3>
			<p>快上传照片分享给朋友们看一下吧～</p>
			<div class='camera'>
				<img id='picture' width="60%" src="../../images/learn-driviing/camera.png" />
			</div>
		</div>
		<div class="share">
			<span class="mui-icon mui-icon-weibo"></span>
			<span class="mui-icon mui-icon-pengyouquan"></span>
			<span class="mui-icon mui-icon-qq"></span>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/dist/learn-driving/getlicense.js"></script>
	</body>

</html>