<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/learn-driving/subject1.css" />
</head>

<body>
	<div class="bg">
		<div class="placeholder"></div>
		<div class="bg-block">
			<div class="test">
				<div>
					<h4>预约教练</h4>
					<p id="bookingCount">已约课时 0/0</p>
				</div>
				<div><span class="mui-icon mui-icon-forward"></span></div>
			</div>
			<div class="practice">
				<div>
					<h4>约车记录</h4>
					<p id="bookingCount1">已约课时 0/0</p>
				</div>
				<div><span class="mui-icon mui-icon-forward"></span></div>
			</div>
		</div>
		<div class="placeholder"></div>
		<div class="placeholder"></div>
	</div>
	<div class="func">
		<div class="row">
			<div class="kaogui">
				<img height="40px" src="../../images/learn-driviing/testGauge.png" />
				<span>科二考规</span>
			</div>
			<div class="kaoshimiji">
				<img height="40px" src="../../images/learn-driviing/cheats.png" />
				<span>考试秘籍</span>
			</div>
		</div>
		<div class="row">
			<div class="kaoshishipin">
				<img height="40px" src="../../images/learn-driviing/video.png" />
				<span>科二视频</span>
			</div>
			<div class="yuyuekaoshi">
				<img height="40px" src="../../images/learn-driviing/join.png" />
				<span>预约考试</span>
			</div>
		</div>
	</div>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/dist/learn-driving/subject2.js"></script>
</body>

</html>