<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/learn-driving/subject1.css" />
</head>

<body>
	<div class="bg">
		<div class="placeholder"></div>
		<div class="bg-block">
			<div class="test">
				<div>
					<h4>模拟考试</h4>
					<p>时间 45min</p>
				</div>
				<div><span class="mui-icon mui-icon-forward"></a></div>
				</div>
				<div class="practice">
					<div>
						<h4>顺序练习</h4>
						<p>题目 0/1239</p>
					</div>
					<div><span class="mui-icon mui-icon-forward"></div>
				</div>
			</div>
			<div class="placeholder"></div>
			<div class="placeholder"></div>
		</div>
		<div class="func">
			<div class="row">
				<div class="favorite">
					<img height="40px" src="../../images/learn-driviing/collect.png" />
					<span>我的收藏</span>
				</div>
				<div class="wrong-questions">
					<img height="40px" src="../../images/learn-driviing/myMistakes.png" />
					<span>我的错题</span>
				</div>
				<div class="kaogui">
					<img height="40px" src="../../images/learn-driviing/record.png" />
					<span>科四考规</span>
				</div>
			</div>
			<div class="row">
				<div>
					<img height="40px" src="../../images/learn-driviing/fallibleQuestions.png" />
					<span>易错题集</span>
				</div>
				<div class="special">
					<img height="40px" src="../../images/learn-driviing/specialExercise.png" />
					<span>专项练习</span>
				</div>
				<div class="yuyuekaoshi">
					<img height="40px" src="../../images/learn-driviing/reservation.png" />
					<span>预约考试</span>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/dist/learn-driving/subject4.js"></script>
</body>

</html>