body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: white;
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
}

.content {
	position: fixed;
	top: 64px;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.footer {
	background-color: white;
	flex: 0 0 55px;
	z-index: 1;
	display: flex;
	align-items: stretch;
	border-top: 1px solid gainsboro;
}

.footer div {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer div span {
	padding-top: 2px;
	font-size: 12px;
	line-height: 12px;
}

.pages {
	flex: 1;
	position: relative;
	overflow: hidden;
}

.immersed-status-bar {
	width: 100%;
	height: 20px;
	background-color: rgb(255, 228, 0);
}

.mui-bar.mui-bar-nav {
	top: 20px;
	box-shadow: 0 2px 5px -1px #ccc;
	background-color: rgb(255, 228, 0);
}

.mui-action-back {
	color: black;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: translate3d(100%, 0px, 0px);
	transition: none;
	-webkit-transform: translate3d(100%, 0px, 0px);
	-webkit-transition: none;
}

.question-title {
	padding: 10px;
	font-size: 16px;
}

.question-type {
	background-color: rgb(255, 228, 0);
	font-size: 10px;
	line-height: 10px;
	margin-top: 2px;
	padding: 4px 6px 3px 6px;
	margin-right: 8px;
	border-radius: 2px;
	float: left;
}

.question-img {
	max-width: 100%;
	max-height: 180px;
}

.question-media {
	margin: 0px 10px;
	text-align: center;
}

.question-answers {
	padding: 0 15px;
}

.question-answer {
	min-height: 45px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin-top: 8px;
	display: flex;
	font-size: 14px;
	color: #737373;
	line-height: 16px;
	align-items: stretch;
}

.option-name {
	flex: 0 0 40px;
	border-right: 1px solid gainsboro;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}

.option-text {
	display: flex;
	flex: 1;
	align-items: center;
	padding: 2px 0;
}

.option-result {
	flex: 0 0 20px;
	justify-content: center;
	align-items: center;
	display: flex;
	visibility: hidden;
}

.mui-icon-checkmarkempty {
	color: #3c763d;
}

.mui-icon-closeempty {
	color: #a94442;
}

.mui-btn.mui-btn-block.confirm {
	margin-top: 20px;
	background-color: rgb(255, 228, 0);
	height: 40px;
	line-height: 10px;
}

.question-button {
	padding: 0 15px;
	display: none;
}

.question[questiontype='3'] .question-button {
	display: block
}

.question-answer.pre-selected {
	border-color: #bce8f1;
}

.question-answer.pre-selected .option-name {
	background-color: #d9edf7;
	color: #31708f;
}

.show-answer .question-answer[isanswer=true],
.question-answer.selected[isanswer=true] {
	border-color: #d6e9c6;
}

.show-answer .question-answer[isanswer=true] .option-name,
.question-answer.selected[isanswer=true] .option-name {
	background-color: #dff0d8;
	color: #3c763d;
}

.question-answer.selected[isanswer=false] {
	border-color: #ebccd1;
}

.question-answer.selected[isanswer=false] .option-name {
	background-color: #f2dede;
	color: #a94442;
}

.question-answer.selected .option-result,
.show-answer .question-answer[isanswer=true] .option-result {
	visibility: visible;
}

.question-explain {
	display: none;
}

.show-answer .question-explain {
	display: block;
}

.msg-content {
	border-radius: 5px;
	border: solid 1px #d3d3d3;
	background-color: rgb(255, 228, 0);
	color: #333;
	padding: 8px;
	vertical-align: top;
	font-size: 15px;
	position: relative;
	margin: 20px 15px 0px 15px;
	width: auto;
}

.msg-content .msg-content-inner {
	overflow-x: hidden;
	font-size: 12px;
}

.msg-content .msg-content-arrow {
	position: absolute;
	border: solid 1px #d3d3d3;
	border-right: none;
	border-top: none;
	background-color: rgb(255, 228, 0);
	width: 10px;
	height: 10px;
	left: 25px;
	top: -5px;
	transform: rotateZ(135deg);
	-webkit-transform: rotateZ(135deg);
}

.question-menu {
	position: fixed;
	transition: transform .3s ease-out;
	-webkit-transition: -webkit-transform .3s ease-out;
	top: 100vh;
	left: 0;
	right: 0;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 999;
	overflow: hidden;
}

.question-menu.expand {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -70vh, 0);
}

.menu-collapse {
	width: 40px;
	flex: 0 0 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: white;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.menu-collapse .mui-icon-arrowdown {
	font-size: 14px;
	line-height: 14px;
	font-weight: 900;
	color: #737373;
}

.menu-title {
	flex: 0 0 54px;
	background-color: white;
	width: 100%;
	display: flex;
}

.menu-title>div {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.number-content {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 4px;
	font-weight: 600;
}

.number-title {
	font-size: 10px;
	line-height: 10px;
}

.wrong-number {
	color: #a94442;
}

.right-number {
	color: #3c763d;
}

.nd-number {
	color: #737373;
}

.menu-content {
	flex: 1;
	display: flex;
	width: 100%;
	background-color: #f7f7f9;
	border-top: 0.5px solid gainsboro;
	flex-wrap: wrap;
	padding: 5px;
	justify-content: space-around;
	align-content: flex-start;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	z-index: 1;
}

.menu-content-item {
	flex: 0 0 50px;
	height: 50px;
	border-radius: 50%;
	margin: 5px;
	border: 1px solid gainsboro;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-content>span {
	flex: 0 0 50px;
	margin: 5px;
}

.menu-flash {
	display: none !important;
}

.title-exercise,
.title-learn {
	font-size: 16px;
	color: #737373;
}

.exercise .title-exercise,
.learn .title-learn {
	color: black;
}