body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: white;
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
}

.content {
	position: fixed;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;
}

.panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mui-bar.mui-bar-nav {
	background-color: rgb(255, 228, 0);
}

.mui-action-back {
	color: black;
}

.tel,
.password,
.login-button {
	flex: 0 0 40px;
	width: 90%;
	background-color: rgb(227, 227, 227);
	margin-top: 15px;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.register-forget {
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.register-forget span {
	color: #737373;
	font-size: 14px;
}

.login-button {
	padding: 0;
	background-color: transparent;
}

.mui-btn.mui-btn-block.confirm {
	background-color: rgb(255, 228, 0);
	height: 40px;
	line-height: 10px;
	margin: 0;
}

#tel,
#password,
input[type=text].input-code {
	background-color: transparent;
	margin: 0;
	border: 0;
}

input[type=text].input-code {
	width: inherit;
	flex: 1;
}

.third-party-login {
	position: relative;
	width: 90%;
	margin-top: 35px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid rgb(153, 153, 153);
	border-top: 1px solid rgb(153, 153, 153);
}

.third-party-title {
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	text-align: center;
	background-color: white;
	color: rgb(153, 153, 153);
	font-size: 12px;
}

.mui-icon-weixin,
.mui-icon-qq,
.mui-icon-weibo {
	color: rgb(153, 153, 153);
	font-size: 30px;
	padding: 0;
	margin: 0;
}

.mui-icon-weibo {
	font-size: 40px;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .3s ease-in-out;
}

.fade-enter,
.fade-leave-active {
	opacity: 0.3
}

.code {
	font-size: 14px;
	width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 40px;
	border: 2px solid rgb(255, 228, 0);
}

.mui-spinner {
	margin-right: 10px;
}

.btn {
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	background-color: rgb(255, 228, 0);
}

.btn .mui-spinner {
	display: none;
}

.mui-spinner.loading {
	display: block;
}

.btn:active {
	opacity: .8;
}