<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>选择支付方式</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/icons-extra.css" />
	<link rel="stylesheet" href="../../css/join/pay.css" />
</head>

<body>
	<div class="immersed-status-bar"></div>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">选择支付方式</h1>
	</header>
	<div class="content vue-body">
		<div class="order">订单总额：¥{{params.payment}}</div>
		<div class="pay-select">
			<div class="mui-input-row mui-radio">
				<label>
						<img height="35px" src="../../images/svg/zhifubao.svg"/>
				</label>
				<input style="margin-top: 13px;" value="alipay" v-model="payType" name="radio1" type="radio" />
			</div>
			<!--<div class="mui-input-row mui-radio">
				<label>
					<img height="35px" src="../../images/svg/WePayLogo.svg" />	
					</label>
				<input name="radio1" style="margin-top: 13px;" value="wxpay" v-model="payType" type="radio">
			</div>-->
		</div>
		<div class="mui-content-padded">
			<button @tap="pay" type="button" id="pay" class="mui-btn mui-btn-block confirm">确定支付</button>
			<!--<button @tap="pay1" type="button" class="mui-btn mui-btn-block confirm">测试支付1</button>
			<button @tap="pay2" type="button" class="mui-btn mui-btn-block confirm">测试支付2</button>-->
		</div>
	</div>
	<script src="../../js/vue.js" type="text/javascript"></script>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/dist/join/pay.js"></script>
</body>

</html>