<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/join/toJoin.css" />
	</head>

	<body>
		<div class='list'>
			<div style="display: flex;padding: 5px 15px;align-items: center;">
				<img src="../../images/yuantiao.jpg" style="height: 60px;width: 60px;border-radius: 50%;">
				<div style="flex: 1;padding: 10px;">
					<p>
						<span style="font-size: 16px;color: #000000;">刘梦婷</span>
					</p>
					<h6>
						<span class='yellow-font'>刘梦婷童鞋</span>
						顺利通过了
						<span class='yellow-font'>科目三</span>
						的考试
					</h6>
				</div>
			</div>
			<div class="single-line"></div>
			<div style="display: flex;padding: 5px 15px;align-items: center;">
				<img src="../../images/yuantiao.jpg" style="height: 60px;width: 60px;border-radius: 50%;">
				<div style="flex: 1;padding: 10px;">
					<p>
						<span style="font-size: 16px;color: #000000;">刘梦婷</span>
					</p>
					<h6>
						<span class='yellow-font'>刘梦婷童鞋</span>
						顺利通过了
						<span class='yellow-font'>科目三</span>
						的考试
					</h6>
				</div>
			</div>
			<div class="single-line"></div>
			<div style="display: flex;padding: 5px 15px;align-items: center;">
				<img src="../../images/yuantiao.jpg" style="height: 60px;width: 60px;border-radius: 50%;">
				<div style="flex: 1;padding: 10px;">
					<p>
						<span style="font-size: 16px;color: #000000;">刘梦婷</span>
					</p>
					<h6>
						<span class='yellow-font'>刘梦婷童鞋</span>
						顺利通过了
						<span class='yellow-font'>科目三</span>
						的考试
					</h6>
				</div>
			</div>
			<div class="single-line"></div>
			<div style="display: flex;padding: 5px 15px;align-items: center;">
				<img src="../../images/yuantiao.jpg" style="height: 60px;width: 60px;border-radius: 50%;">
				<div style="flex: 1;padding: 10px;">
					<p>
						<span style="font-size: 16px;color: #000000;">刘梦婷</span>
					</p>
					<h6>
						<span class='yellow-font'>刘梦婷童鞋</span>
						顺利通过了
						<span class='yellow-font'>科目三</span>
						的考试
					</h6>
				</div>
			</div>
			<div class="single-line"></div>
			<div style="display: flex;padding: 5px 15px;align-items: center;">
				<img src="../../images/yuantiao.jpg" style="height: 60px;width: 60px;border-radius: 50%;">
				<div style="flex: 1;padding: 10px;">
					<p>
						<span style="font-size: 16px;color: #000000;">刘梦婷</span>
					</p>
					<h6>
						<span class='yellow-font'>刘梦婷童鞋</span>
						顺利通过了
						<span class='yellow-font'>科目三</span>
						的考试
					</h6>
				</div>
			</div>
			<div class="single-line"></div>
		</div>
		<div class='join'>
			<h2>你还没有选择驾校哦～</h2>
			<h6>赶紧寻找属于自己的好驾校，加入他们吧!</h6>
			<div class="join-button">
				<button type="button" id="toJoin" class="mui-btn mui-btn-block confirm">选择驾校</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/dist/join/toJoin.js"></script>
	</body>

</html>